body {
    background-color: rgb(248, 248, 207);
    display: grid;
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#foto-albert {
    height: 300px;
}

h1 {
    background-color: black;
    width: 100%;
    margin-bottom: 10px;
    text-shadow: 2px 2px 7px #e9e8e8;   
    color: white;
    border: solid 2px;
}

.centralizar {
    width: 60vw;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

#lista {
    color: rgb(230, 22, 230);
    background-color: black;
}