body {
    background-color: rgba(243, 235, 235, 0.863);
    font-size: 16px; 
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 2px 1fr 2px 1fr;
    grid-template-columns: 1fr; 
    gap: 2%; 
}

.grid-item {
    padding: 2%;
    font-size: 1em; 
}

p {
    color: rgba(8, 7, 7, 0.705);
    font-size: 1em;
}

h2 {
    text-align: left;
}

a {
    display: inline;
    margin-left: 2%; 
    color: black;
    background-color: rgb(196, 136, 26);
    padding: 1%; 
    width: auto; 
}

hr {
    margin: 0;
}

h3 {
    display : flex ;
    justify-content: center;
    text-decoration-line: underline;
}

.grid-item:nth-child(2) {
    margin-top: 2%; 
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
        gap: 5%; 
    }
    
    .grid-item {
        padding: 3%;
        font-size: 0.9em; 
    }
    
    a {
        margin-left: 5%; 
    }
}

h4{
    margin-top: -20px;
}

