body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    background-image: linear-gradient(black, gray);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: rgb(111, 44, 245);
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgb(98, 1, 110);
}

#titulo {
    display: flex;
    align-items: center;
    color: aliceblue;
    margin: 30px;
}

img {
    border-radius: 10px;
    width: 100px;
    height: 100%;
    margin: 10px;
}

table {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    font-size: 20px;
    padding: 10px 50px;
}

td {
    padding: 10px;
}

th {
    text-align: end;
}