body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(226, 222, 222);
}

.chat-container {
    max-width: 400px;
    margin: 0 auto;
}

.chat-messages {
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
}
